.git
.gitignore
.github
.env
.venv
env/
venv/
ENV/
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
.hypothesis/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles
.DS_Store
node_modules/
npm-debug.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
